<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet News</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/index.js"></script>
</head>
<body>
    
        <!-- 추가: 모든 페이지에서 공통으로 사용할 메모 창 -->
        <div id="memoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Memo</h2>
                <textarea id="memoText" rows="4" cols="50"></textarea>
                <button id="saveMemo">Save</button>
            </div>
        </div>

        <!-- 내용이 다른 페이지의 내용 -->
        {% block content %}{% endblock %}
        <!-- 페이지 내용 끝 -->
    </div>
</body>
</html>
