<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Article</title>
</head>
<body>
    <h1>Edit Article</h1>

    <!-- 기사 추가 버튼 -->
    <form action="{{ url_for('add_article') }}" method="get">
        <input type="submit" value="기사 추가">
    </form>

    <form action="{{ url_for('index') }}" method="get">
        <input type="submit" value="완료">
    </form>

    <!-- 추가: 기사 선택 목록 -->
    <div>
        <h2>Select an article to edit:</h2>
        {% for article in articles %}
            <div>
                <a href="{{ url_for('edit_article', article_id=article.id) }}">
                    <h3>{{ article.title }}</h3>
                </a>
                <!-- 각 기사 옆에 삭제 버튼 추가 -->
                <form action="{{ url_for('delete_article', article_id=article.id) }}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </div>
        {% endfor %}
    </div>

    {% if article %}
        <form action="" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ article.title }}"><br>
            <label for="content">Content:</label><br>
            <textarea id="content" name="content">{{ article.content }}</textarea><br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</body>
</html>
